@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
:root {
  --main-color: red;
  --main-color-hex: 255,0,0;
  --accent-color: #000;
  --tertiary-color: #000;
  --background-color: rgba(235, 235, 235, 0.433);
  --text-color: #000;
  --color-one: rgb(255, 0, 0);
  --color-one-light: rgba(255, 0, 0, 0.205);
}
@media (prefers-color-scheme: dark) {
  
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  /* font-size: calc(12px + 1vw); */
  font-size: 17px;
  overflow-x: hidden;
  width: 100vw;
}
.reveal {
  opacity: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2 {
  font-weight: 600;
  color: var(--main-color);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}

.container {
  padding: 12vh 10vw;
}
.container-no-margin{
  padding: 2vh 10vw;
}
.backtext {
  /* right: 10vw; */
  font-size: 100px;
  -webkit-text-stroke: 1px var(--main-color);
  -webkit-text-fill-color: transparent;
  height: 0;
  opacity: 0;
  left: -8vw;
  transition: opacity 0.3s;
  width: 100vw;
  text-align: center;
}
.button {
  transition: all 0.15s;
  box-shadow: rgb(0 0 0 / 10%) 3px 3px 4px 2px,
    rgb(255 255 255 / 91%) -3px -3px 4px 2px,
    inset rgb(255 255 255 / 83%) 0 0 0 0, inset rgb(241 237 237 / 91%) 0 0 0 0;
  /* font-size: 20px; */
  padding: 10px 38px 10px 15px;
  border-radius: 5px;
  margin: 5px 10px 0 0;
  backdrop-filter: blur(8px);
  display: inline-block;
}
.button:hover {
  box-shadow: rgb(0 0 0 / 10%) 0 0 0 0, rgb(255 255 255 / 91%) 0 0 0 0,
    inset rgb(255 255 255 / 83%) -3px -3px 4px 2px,
    inset rgb(241 237 237 / 91%) 3px 4px 4px 2px;
  padding: 10px 44px 10px 22px;
  text-decoration: none;
}
.button .icon {
  height: 29px;
  width: 29px;
  position: absolute;
  top: 5px;
  right: 7px;
  opacity: 0.55;
  fill: #ff00007d;
  transition: all 0.9s;
}
.button:hover .icon {
  top: 5px;
  right: 5px;
  fill: #ff0000c5;
}
@media screen and (max-width: 600px) {
  .backtext {
    /* right: 1vw; */
    font-size: 61px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .container {
    padding: 12vh 5vw;
  }
}
.currentSlide {
  transform: scale(0.7);
}
/* Background begin */

#backWrap {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  transform: scale(1);
}
#backWrap div {
  position: absolute;
  border: 0px solid var(--color-one);
  border-radius: 0px 0px;
  opacity: 0;
  transform: translate(0px, 0px) scale(3);
}
#backWrap div:nth-child(1) {
  background-color: var(--color-one-light);
  height: 800px;
  width: 300px;
  animation: back 6s cubic-bezier(1, 0, 0.35, 1.08) 0.41s infinite
    alternate-reverse;
}
#backWrap div:nth-child(2) {
  background-color: var(--color-one-light);
  height: 800px;
  width: 800px;
  animation: back 4s cubic-bezier(1, 0, 0.35, 1.08) 0.62s infinite
    alternate-reverse;
}
#backWrap div:nth-child(3) {
  background-color: var(--color-one-light);
  height: 150px;
  width: 350px;
  animation: back 4s cubic-bezier(1, 0, 0.35, 1.08) 0.83s infinite
    alternate-reverse;
}
#backWrap div:nth-child(4) {
  background-color: var(--color-one-light);
  height: 120px;
  width: 120px;
  animation: back 5s cubic-bezier(1, 0, 0.35, 1.08) 1.1s infinite
    alternate-reverse;
}
#backWrap div:nth-child(5) {
  background-color: var(--color-one-light);
  height: 50px;
  width: 50px;
  animation: back 1s cubic-bezier(1, 0, 0.35, 1.08) 1.5s infinite
    alternate-reverse;
}
#backWrap div:nth-child(6) {
  background-color: var(--color-one-light);
  height: 50px;
  width: 140px;
  animation: back 3s cubic-bezier(1, 0, 0.35, 1.08) 1.6s infinite
    alternate-reverse;
}
#backWrap div:nth-child(7) {
  background-color: var(--color-one-light);
  height: 250px;
  width: 250px;
  animation: back 3s cubic-bezier(1, 0, 0.35, 1.08) 1.3s infinite
    alternate-reverse;
}
@keyframes back {
  0% {
    border-radius: 0px 0px;
    opacity: 0.21;
    transform: translate(30vw, -20vh) scale(1);
  }
  30% {
    border-radius: 10px 10px;
    border: 0px solid var(--color-one);
    background-color: var(--color-one-light);
    opacity: 0.21;
    transform: translate(33vw, -22vh) scale(0.92);
  }
  40% {
    border-radius: 10px 200px;
    opacity: 0.21;
    filter: hue-rotate(-68deg);
    border: 1px solid var(--color-one);
    background: transparent;
    transform: translate(30vw, -20vh) scale(1);
  }
  60% {
    border-radius: 10px 10px;
    transform: translate(29vw, -20vh) scale(1);
    background-color: var(--color-one-light);
    border: 0px solid var(--color-one);
    opacity: 0.61;
  }
  70% {
    border-radius: 10px 10px;
    opacity: 0.21;
    transform: translate(30vw, -23vh) scale(0.9);
    filter: hue-rotate(38deg);
  }
  80% {
    border-radius: 200px 100px;
    opacity: 0.21;
    transform: translate(33vw, -20vh) scale(1);
  }
  100% {
    border-radius: 0px 0px;
    opacity: 0;
    transform: translate(30vw, -21vh) scale(1);
  }
}

/* Background end */
@keyframes slider {
  0% {
    width: 0;
  }
  50% {
    width: 70vw;
  }
  70% {
    width: 80vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes navArrive {
  0% {
    transform: translatey(-60px);
    backdrop-filter: blur(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes arriveFromLeft {
  0% {
    transform: translatex(-60px);
  }
  100% {
    transform: translatex(0px);
  }
}
.keen-slider__slide.currentSlide {
  opacity: 1;
  box-shadow: 4px 27px 50px 5px rgba(0, 0, 0, 0.31);
  top: -13px;
}
.keen-slider__slide {
  opacity: 0.61;
  top: 0;
  transition: opacity 0.14s, box-shadow 2s, top 1s;
}

@keyframes disappear {
  0% {transform: translateY(4px);opacity: 0;z-index:4;}
  10% {transform: translateY(-4px);opacity: 1;z-index:4;}
  90% {transform: translateY(-4px);opacity: 1;z-index:4;}
  100% {transform: translateY(4px);opacity: 0;z-index:4;}
}
div:hover > .controls{
  opacity: 0;
}
/*BUBBLES START*/
.bubbles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.bubbles .circle {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  transition: all .2s, border .5s .61s;
}
.bubbles .circle-wrapper{
  position: absolute;
  height: 0;
  width: 0;
}
.bubbles .circle-wrapper .circle{
  border: 1px solid transparent;
  padding:10px;
}
.bubbles .circle-wrapper .circle.active{
  border: 0px solid var(--main-color);
  padding:0px;
  color:#fff;
}
.bubbles .circle-wrapper .circle.active:hover{
  transform:scale(1.1);
}
.bubbles .circle-wrapper:nth-child(1) .center.active{
  height: 230px;
  width: 230px;
  border: 1px solid var(--main-color);
  top: -115px;
  left: -115px;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--main-color);
  -webkit-text-fill-color: transparent;
  visibility: visible;
  opacity: 1;
}
.bubbles .circle-wrapper:nth-child(2) .circle{
  height: 200px;
  width: 200px;
  inset: -30px 122px;
  font-size: 50px;
  background: linear-gradient(45deg, #eb4b4b -20%, #ff2424 120%);
}
.bubbles .circle-wrapper:nth-child(3) .circle{
  height: 200px;
  width: 200px;
  inset: -218px -305px;
  font-size: 50px;
  background: linear-gradient(45deg, #c0ff23, #ead42d);
}
.bubbles .circle-wrapper:nth-child(4) .circle{
  height: 180px;
  width: 180px;
  inset: 132px -106px;
  font-size: 48px;
  background: linear-gradient(45deg, #6aeeaa,#6ad0ee);
}
.bubbles .circle-wrapper:nth-child(5) .circle{
  height: 200px;
  width: 200px;
  inset: 4px -308px;
  font-size: 50px;
  background: linear-gradient(45deg, #5ba5e3, #5ed4ff);
}
.bubbles .circle-wrapper:nth-child(6) .circle{
  height: 170px;
  width: 170px;
  inset: -304px -110px;
  font-size: 45px;
  background: linear-gradient(45deg, #9967c0, #7189ff);
}
.bubbles .circle-wrapper:nth-child(7) .circle{
  height: 150px;
  width: 150px;
  inset: -227px 70px;
  font-size: 44px;
  background: linear-gradient(45deg, #9967c0, #7189ff);
}
.bubbles .circle-wrapper:nth-child(8) .circle{
  height: 140px;
  width: 140px;
  inset: -169px 231px;
  font-size: 42px;
  background: linear-gradient(45deg, #fd623c, #fa8b2f);
}
.bubbles .circle-wrapper:nth-child(9) .circle{
  height: 150px;
  width: 150px;
  inset: -74px -445px;
  font-size: 44px;
  background: linear-gradient(45deg, #000000d1, black);
  color: #fff;
}
.bubbles .circle-wrapper:nth-child(10) .circle{
  height: 140px;
  width: 140px;
  inset: 180px 95px;
  font-size: 42px;
  background: linear-gradient(45deg, #97deec,#bdbaff);
}
.bubbles .circle-wrapper:nth-child(11) .circle{
  height: 130px;
  width: 130px;
  inset: 166px 253px;
  font-size: 39px;
  background: linear-gradient(45deg, #93ceff,#0075d8);
}
.bubbles .circle-wrapper:nth-child(12) .circle{
  height: 100px;
  width: 100px;
  inset: -33px 336px;
  font-size: 35px;
  background: linear-gradient(45deg, #fd782e, #feee43);
}
.bubbles .circle-wrapper:nth-child(13) .circle{
  height: 100px;
  width: 100px;
  inset: 218px -227px;
  font-size: 35px;
  background: linear-gradient(45deg, #957bff,#e978ff);
}
.bubbles .circle-wrapper:nth-child(14) .circle{
  height: 100px;
  width: 100px;
  inset: 94px -424px;
  font-size: 35px;
  background: linear-gradient(45deg, #87cbee, #2eb8a3);
}
.bubbles .circle-wrapper:nth-child(15) .circle{
  height: 100px;
  width: 100px;
  inset: -290px 220px;
  font-size: 35px;
  background: linear-gradient(45deg, #ff6e3b, #ff79f2);
}

@media (max-width:900px) {
  .bubbles .circle-wrapper:nth-child(1) .center.active{
    height: 180px;
    width: 180px;
    border: 1px solid var(--main-color);
    top: -90px;
    left: -90px;
  }
  .bubbles .circle-wrapper:nth-child(2) .circle{
    height: 140px;
    width: 140px;
    inset: -23px 99px;
    font-size: 50px;
  }
  .bubbles .circle-wrapper:nth-child(3) .circle{
    height: 140px;
    width: 140px;
    inset: -168px -215px;
    font-size: 50px;
  }
  .bubbles .circle-wrapper:nth-child(4) .circle{
    height: 120px;
    width: 120px;
    inset: 101px -106px;
    font-size: 48px;
  }
  .bubbles .circle-wrapper:nth-child(5) .circle{
    height: 140px;
    width: 140px;
    inset: -1px -228px;
    font-size: 50px;
  }
  .bubbles .circle-wrapper:nth-child(6) .circle{
    height: 140px;
    width: 140px;
    inset: -244px -82px;
    font-size: 45px;
  }
  .bubbles .circle-wrapper:nth-child(7) .circle{
    height: 100px;
    width: 100px;
    inset: -165px 63px;
    font-size: 44px;
  }
  .bubbles .circle-wrapper:nth-child(8) .circle{
    height: 80px;
    width: 80px;
    inset: -113px 171px;
    font-size: 42px;
  }
  .bubbles .circle-wrapper:nth-child(9) .circle{
    height: 100px;
    width: 100px;
    inset: -74px -309px;
    font-size: 44px;
  }
  .bubbles .circle-wrapper:nth-child(10) .circle{
    height: 80px;
    width: 80px;
    inset: 88px 25px;
    font-size: 42px;
  }
  .bubbles .circle-wrapper:nth-child(11) .circle{
    height: 80px;
    width: 80px;
    inset: 129px 111px;
    font-size: 39px;
  }
  .bubbles .circle-wrapper:nth-child(12) .circle{
    height: 60px;
    width: 60px;
    inset: -40px 237px;
    font-size: 35px;
  }
  .bubbles .circle-wrapper:nth-child(13) .circle{
    height: 60px;
    width: 60px;
    inset: 148px -176px;
    font-size: 35px;
  }
  .bubbles .circle-wrapper:nth-child(14) .circle{
    height: 60px;
    width: 60px;
    inset: 34px -296px;
    font-size: 35px;
  }
  .bubbles .circle-wrapper:nth-child(15) .circle{
    height: 60px;
    width: 60px;
    inset: -190px 171px;
    font-size: 35px;
  }
}

@media (max-width:600px) {
  .bubbles .circle-wrapper:nth-child(1) .center.active{
    height: 120px;
    width: 120px;
    border: 1px solid var(--main-color);
    top: -60px;
    left: -60px;
  }
  .bubbles .circle-wrapper:nth-child(2) .circle{
    height: 90px;
    width: 90px;
    inset: -23px 68px;
    font-size: 21px;
  }
  .bubbles .circle-wrapper:nth-child(3) .circle{
    height: 90px;
    width: 90px;
    inset: -116px -135px;
    font-size: 21px;
  }
  .bubbles .circle-wrapper:nth-child(4) .circle{
    height: 80px;
    width: 80px;
    inset: 77px -66px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(5) .circle{
    height: 90px;
    width: 90px;
    inset: -9px -158px;
    font-size: 21px;
  }
  .bubbles .circle-wrapper:nth-child(6) .circle{
    height: 90px;
    width: 90px;
    inset: -169px -46px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(7) .circle{
    height: 70px;
    width: 70px;
    inset: -117px 44px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(8) .circle{
    height: 60px;
    width: 60px;
    inset: -233px 1px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(9) .circle{
    height: 70px;
    width: 70px;
    inset: -213px -116px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(10) .circle{
    height: 60px;
    width: 60px;
    inset: 63px 27px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(11) .circle{
    height: 60px;
    width: 60px;
    inset: 141px 11px;
    font-size: 19px;
  }
  .bubbles .circle-wrapper:nth-child(12) .circle{
    height: 40px;
    width: 40px;
    inset: -71px 122px;
    font-size: 17px;
  }
  .bubbles .circle-wrapper:nth-child(13) .circle{
    height: 40px;
    width: 40px;
    inset: 175px -46px;
    font-size: 17px;
  }
  .bubbles .circle-wrapper:nth-child(14) .circle{
    height: 40px;
    width: 40px;
    inset: 104px -121px;
    font-size: 17px;
  }
  .bubbles .circle-wrapper:nth-child(15) .circle{
    height: 40px;
    width: 40px;
    inset: -176px 53px;
    font-size: 17px;
  }
}